$black: #060906;
$baby-powder: #f9fbf9;
$fern-green: #577f57;
$pearl: #e1ddc7;
$oxford-blue: #011937;
$black-variation: #040604;
$baby-powder-variation: #f6f9f6;
$cambridge-blue: #80a880;
$drab-dark-brown: #38341e;
$columbia-blue: #c8e0fe;
